html,
body {
  margin: 0;
  font-size: 10px;
}

body {
  text-align: center;
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  font-size: 2rem;
  padding: 5rem;
}

#btn {
  margin-left: 4rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

h1 {
  margin: 0;
}
